/* Reset de margin e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte e cores principais */
body {
    font-family: cursive;
    background-color: #292a2b;
    color: #ffffff;
}

header {
    background-color: #ffffff4b;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    font-size: 2em;
    color: #ffffff;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
}

main {
    padding: 30px 0;
}

footer {
    background-color: #ffffff4b;
    padding: 10px;
    text-align: center;
    font-size: 0.9em;
    color: #ffffff;
}

.entregas {
    text-align: center;
}

.entregas h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ffffff;
}

.entregas p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.entregas ul {
    list-style: none;
    margin: 20px 0;
}

.entregas ul li {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.avaliacoes {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.avaliacao {
    background-color: #00000034;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    text-align: center;
}

.avaliacao img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.estrelas {
    font-size: 1.5em;
    color: #f5b800;
    margin-bottom: 10px;
}

.avaliacao p {
    font-size: 1em;
    margin-bottom: 10px;
}

.avaliacao strong {
    display: block;
    font-size: 1.1em;
    margin-top: 5px;
}

/* Media Query */
@media (max-width: 768px) {
    header .logo h1 {
        font-size: 1.5em;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }

    main {
        padding: 20px;
    }

    .entregas h2 {
        font-size: 1.8em;
    }

    .entregas ul li {
        font-size: 1em;
    }

    .avaliacoes {
        flex-direction: column;
        align-items: center;
    }

    .avaliacao {
        width: 80%;
        margin-bottom: 20px;
    }
}
